<div class="container" id="box">
    <h1 id="title">신이 나를 만들때</h1>
    <p>
        <div class="container">    
            <div class="row">
              <div class="col-md-4"><p>우선 <%= @choice[0] %>을<br>조금 넣고</p></div>
              <div class="col-md-4"><p><%= @choice[1] %><br>한 스푼...</p></div>
              <div class="col-md-4"><p>마지막으로<br><%= @fin[0] %>도 조금<br>넣으아으ㅏㅏ으억</p></div>
            </div>
            <div class="row">
              <div class="col-md-4"><img class= "a" src=http://lh3.googleusercontent.com/OOBn4wU-SrTCl2uHHfqY3Xkgy8-SU_tXTmsikUc1usJ44kr2033tq0FRLoJILrlM0oRdczNl8Yx_Qf53YWZUJqEGaz9S2rpTng=s640-l65 alt=""></div>
              <div class="col-md-4"><img class= "a" src=http://lh3.googleusercontent.com/OOBn4wU-SrTCl2uHHfqY3Xkgy8-SU_tXTmsikUc1usJ44kr2033tq0FRLoJILrlM0oRdczNl8Yx_Qf53YWZUJqEGaz9S2rpTng=s640-l65 alt=""></div>
              <div class="col-md-4"><img class= "a" src=http://lh3.googleusercontent.com/OOBn4wU-SrTCl2uHHfqY3Xkgy8-SU_tXTmsikUc1usJ44kr2033tq0FRLoJILrlM0oRdczNl8Yx_Qf53YWZUJqEGaz9S2rpTng=s640-l65 alt=""></div>
            </div>
        </div>
    </p>
</div>
