// Place all the styles related to the pen controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#title {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

p {
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
}

.a {
    width: 23em;
    display: block;
    margin: 0px auto;
}

#box {
    border: 3px solid #000000;
}